<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <p class="font-medium text-7xl p-4 m-4">Create New Course</p>
            <form action="/course" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label for="course" class="text-xl my-3 mt-5">What is the name of this course?</label>
                <input type="text" id="course" name="name"
                    class="rounded font-medium w-full my-1 p-2 border border-gray-600 leading-10 text-2xl">
                <button type="submit"
                    class="rounded text-white bg-green-600 py-2 px-5 hover:bg-green-900 font-medium mt-5">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>