<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educator Reports</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 mt-5 text-2xl">
            <% if(admin==true){%> <a href="/educator" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                <%} else {%> <a href="/learner" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                    <%} %>
        </div>
        <div class="col-start-2">
            <h1 class="text-2xl my-5 font-semibold">My Courses</h1>
        </div>
    </div>
    <div class="grid grid-cols-6 mt-8">
        <% for (let i=0; i < courses.length; i++) { %>
            <div class="col-start-<%= i%4 + 2 %> border border-black mb-5 mx-2">
                <h2 class="text-2xl p-2 mb-1 text-center mt-4">
                    <strong>
                        <%= courses[i].name %>
                    </strong>
                </h2>
                <div class="flex items-center justify-center mt-4 mb-4">
                    <button class="text-white bg-green-600 py-1 px-3 hover:bg-green-900 font-medium m-2"
                        onclick="window.location.href='/chapter/<%= i + 2 %>'">
                        View Course
                    </button>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>